* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
  .main-header {
    background-color: #bf5700;
    width: 100%;
    padding: 8px 16px;
  
  }
  .main-content {
    background-color: white;
    height: 400px;
  }









  .main-footer {
    background-color: #bf5700;
    
    
  }

